
a{
    text-decoration: none;
}
body {
    /*	background: #2ca1cc;*/
    background-size: 100% auto;
    background:url("/japroject/javax.faces.resource/images/bg2.jpg.xhtml") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    padding: 0 auto;
    font-family:  Arial,sans-serif;
    color: #676767;
    font-weight: 300;
    font-size: 20px !important;
}

.red{
    background: #d34836;
}

.flags{
    padding: 10px 10px 0px 0px;
    margin:0px auto;
}
.flags .flag-icon{
    padding-left:7px;
    height:30px;
    width:50px;
}
.flags .flag-icon:hover{
    opacity:0.6;
}

.selected{
    box-shadow:0px 12px 22px 1px #333;
    background: #178bb6;
}
.form-flags{
    float:right;
}

#wrapper {
    position: relative;
    /*margin: 4% auto 4%;*/
    margin-left: auto;
    margin-right:auto;
    top:120px;
    right: 0;
    bottom: 0;
    left: 0;
    height:auto;
    max-width: 525px;
    display: block;
    /*transform:translateY(-50%);*/
}
.username {
    background: #FFF url("/japroject/javax.faces.resource/images/user.png.xhtml") no-repeat scroll 15px center;

}

.password{
    background: #FFF url("/japroject/javax.faces.resource/images/key.png.xhtml") no-repeat scroll 15px center;
}

.email{
    background: #FFF url("/japroject/javax.faces.resource/images/mail.png.xhtml") no-repeat scroll 15px center;  
}
.verificationAnswer{
    background: #FFF url("/japroject/javax.faces.resource/images/verified-question.png.xhtml") no-repeat scroll 15px center;







}

.head{
    position: absolute;
    top: -10%;
    left:38%;
}

.head img{
    border-radius: 50%;
    border: 6px solid rgba(158, 170, 140, 0.23);
}

.logo-pwd{
    position: absolute;
    top: 0%;
    left:41%;

}
#login-bottom{
    min-height: 300px;
    overflow: hidden;
    -webkit-border-radius: 8px;	
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
#login-bottom h1{
    font-size: 25px;
    /*    font-weight: 400;*/
    text-align: center;
    padding-top: 19%;
}

#login-bottom h3{
    font-size: 17px;
    text-align: center;
}
#login-bottom{
    padding: 0px 28px;
    background: #fff;

}

.login-form{
    margin-top: 15px;
}

.twitter {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 210px;
    height:45px;
    padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#1daee3), to(#1daee3));
    background: -moz-linear-gradient(top, #1daee3, #1daee3);
    background: linear-gradient(to bottom, #1daee3, #1daee3);
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    float:left;
}
.twitter:hover,
.twitter:focus {
    background: #1ca4d6;
    color: #ffffff;
    text-decoration: none;
}
.twitter:active {
    background: #1ca4d6;
}
.twitter:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    padding-left: 10px;
    top: -10px;
    left: -21px;
    background: url("/japroject/javax.faces.resource/images/tw.png.xhtml") no-repeat center center;
    background-size: 29px 24px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
}
.facebook {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 210px;
    height:45px;
    padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #3b5998;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    float:left;
}
.facebook:hover,
.facebook:focus {
    background: #37528c;
    color: #ffffff;
    text-decoration: none;
}
.facebook:active {
    background: #1ca4d6;
}
.facebook:before{
    content:  "\0000a0";
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    padding-left: 10px;
    top: -10px;
    left: -10px;
    background: url("/japroject/javax.faces.resource/images/fb.png.xhtml") no-repeat center center;
    background-size: 13px 24px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
}


.linkedin {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 210px;
    height:45px;
    padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #0e76a8;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    color: #ffffff;
    text-decoration: none;
    float:right;
}
.linkedin:hover,
.linkedin:focus {
    background: #1F7798;
    color: #ffffff;
    text-decoration: none;
}
.linkedin:active {
    background: #1ca4d6;
}
.linkedin:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    padding-left: 10px;
    top: -10px;
    left: -10px;
    background: url("/japroject/javax.faces.resource/images/in.png.xhtml") no-repeat center center;
    background-size: 13px 24px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
}
.google {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 210px;
    height:45px;
    padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #d34836;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    color: #ffffff;
    text-decoration: none;
    float:right;
}
.google:hover,
.google:focus {
    background: #c74534;
    color: #ffffff;
    text-decoration: none;
}
.google:active {
    background: #1ca4d6;
}
.google:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    padding-left: 10px;
    top: -10px;
    left: -15px;
    background: url("/japroject/javax.faces.resource/images/gp.png.xhtml") no-repeat center center;
    background-size: 24px 24px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
}

.clr hr {
    border: 1px solid #e9e9e9;
    margin:25px 0;
}
.mail-text {
    color: #777;
}

.keepme{
    padding: 6px 0px;
    width: 100%;
}

.keepme .checkbox{
    padding: 15px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 5px;
    color: #737373;
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
}

.inputInvalid {
    border: 2px solid red;
}


.login-form input {
    color: #bebebe;
    padding: 7px 0px 7px 50px;
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    display: block;
    width: 89%;
    margin-bottom: 10px;
}

.login-form label{
    color: #676767;
    font-weight: bold;
}


.login-form input:focus {
    box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -webkit-box-shadow: 0 0 5px rgba(48, 168, 218, 1); 
    -moz-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    border:1px solid rgba(48, 168, 218, 1) !important; 
}

.forgot{
    padding: 15px 0px;
}

.forgot p{
    float:left;
    font-weight: 600;
    color: #000;
    font-size: 14px;
}

.forgot p a {
    color: #000;

}

.forgot-register{
    float:right;
}

.social-icons1{
    min-height: 60px;
    margin-bottom: 10px;
}
.social-icons2{
    min-height: 60px; 
}


.clr hr {
    border: 1px solid #e9e9e9;
    margin: 80px 0px 0px;
}
.mail-text {
    color: #777;
}

.keepme{
    padding: 6px 0px;
    width: 100%;
}

.ui-button-main{
    padding: 8px 26px !important;
    border: medium none;
    background: #d72c2c none repeat scroll 0%; 
    cursor: pointer;
    float: right;
    color:#fff;
    margin-right:0px !important;
    border-radius: 8px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top:15px;
}

.ui-toolbar-group-left {
    float: left;
    margin: 1em 12px 1em auto;
}
#welcome-label{
    left:35px;
    position:relative;
}


#welcome-label h2{
    text-align: center;
}
/*dropdown po kliknuti */
.dropdown{
    position: relative;
    cursor: pointer;
    display: block;
    right: 35px;
}
.profile-picture{
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 99em;
    border: 5px solid #EEE;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 1em auto;
    margin-right: 12px;

}

.caret{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    float:right;
    margin: 50px auto;
}


.main-navigation{
    display: none;
    top:110px;
    right:0px;
    min-width: 150px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;

}

ul li {
    display: block;
    position: relative; 
    background: #1bc2a2;
}

li ul { display: none; }

ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

ul li a:hover { background: #2c3e50; }

li:hover > ul {
    display: block;
    position: absolute;
    right:100%;
    top:0;
}

li:hover li { float: none; }

li:hover a { background: #1bc2a2; }

li:hover li a:hover { background: #2c3e50; }

li ul li { border-top: 0;}

ul ul ul {
    right: 100%;
    top:0;
}

ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul:after { clear: both; }
.show {display:block;}

/*expanded div*/
.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

.selectOneMenu{
    color: #BEBEBE;
    padding:7px 0;
    font-weight: normal;
    border: 1px solid #A8A8A8;
    box-shadow: 0px 2px 2px #8F8F8F inset;
    border-radius: 3px;
    font-family: Arial,sans-serif;
    outline: medium none;
    font-size:17px;
    width:101%;
    padding-left:10px;
    color: #676767;
}

.selectOneMenu:focus{
    border:1px solid #7096ab;
    color:#313131;
    -moz-box-shadow:0 0 5px #85b2cb;
    -webkit-box-shadow:0px 0px 8px #85b2cb;
    box-shadow:0px 0px 8px #85b2cb;
}


.no-items img{
    width:300px;
    height:300px;
    display:block;
    margin:auto;
}
.no-items h1{
    text-align: center;
    vertical-align: middle;
    text-align: center;
    font-size: 50px !important;
    margin: 0px;
    padding:0px !important;
}
.upload-files{
    background-color: chocolate;
    border-radius: 8px;
    margin-top: 30px;
    padding:20px 30px; ;
    
    
}
.upload-files h1{
    padding:0px !important;
    margin:0px;
    text-align: left !important;
    color:#000;
}

.upload-files td{
    background: transparent !important;
}

.ui-toolbar{
    background-color: #1daee3;
}



