<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <h:outputStylesheet name="css/style.css" />
        <h:outputScript library="js" name="common.js" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>


        <!-- tohle tady mam jen abych se toho otravnyho okynka zbavil, protoze mi prekriva vysouvaci menu-->
        <style type="text/css">
            .ui-growl{
                left:20px;
            }
        </style>
    </h:head>
    <h:body style="background: white;">

        <div id="login-top">
            <div id="welcome-label"><h2><h:outputText value="#{msg.welcome} "/> <h:outputText value="#{mainbean.userName}"/>! </h2></div>
            <div class="dropdown" onclick="toggleDropDown();">
                <img src="#{mainbean.userProfilePicture}" class="profile-picture"/>
                <b class="caret"/>
                <!-- TODO když se to menu zobrazí ,tak to rozšíří stránku, to menu prostě leze do prava do boku - to je škaredá -->
                <div id="myDropdown" class="dropdown-content">
                    <h:form>
                        <a href="#{request.contextPath}/secured/index.xhtml">Home</a>
                        <a href="#about">About</a>
                        <a href="#contact">Contact</a>
                        <h:commandLink id="Link1" value="Logout" action="#{mainbean.logout()}" />
                    </h:form>
                </div>
            </div>
        </div>
        <div id="login-bottom">
            
            
            Stránka s formulářem pro vytvoření souboru

            <div id="new-file-form" style="height: 100%; background-color: #E9E9E9; border-radius: 50px; padding: 90px;">
                <!-- tohle je k informacnim zpravam o uploadu, je to kdesi v rohu a mozna by to chtelo i nastylovat.. -->
                <p:growl id="messages" showDetail="true" />


                <!-- file upload, hnus chce to s tim neco udelat -->
                <h:outputText value="#{fileUploadBean.uploadStatus}" />
                <h:form enctype="multipart/form-data">
                    <p>Vyberte soubor</p>
                    <p:fileUpload value="#{fileUploadBean.file}" mode="simple" skinSimple="true"/>
                    <p:commandButton value="Nahrát soubor na server" ajax="false" actionListener="#{fileUploadBean.upload}" />

                </h:form>




                <h:form>
                    <h4>Vyberte kategorie souboru</h4>
                    <p:selectManyCheckbox id="basic" value="#{fileUploadBean.selectedCategories}">
                        <!-- TODO kategorie by to chtelo vypisovat z db a taky moznost pridavat dalsi, prace pro Peťana -->
                        <f:selectItems value="#{mainbean.allCategories}" var="category" itemLabel="#{category}" itemValue="#{category}" />
                    </p:selectManyCheckbox>

                    <h4>Nová kategorie</h4>
                    <p:inputText value="#{mainbean.newCategory}" placeholder="Zadejte název nové kategorii" />
                    <p:commandButton value="Přidat novou katerogii" ajax="false" actionListener="#{mainbean.addToNewCategories()}" />

                    <h4>Vyberte délku upladu (ve dnech)</h4>
                    <h:outputLabel for="days" value="Basic Spinner: " />
                    <p:spinner id="days" value="#{fileUploadBean.uploadDays}" min="5" max="60"/>


                    <br></br>
                    <hr></hr>

                    <p:commandButton value="Vytvořit novou položku" ajax="false" actionListener="#{fileUploadBean.confirm}" />
                </h:form>

            </div>



        </div>
    </h:body>
</html>
