<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <h:outputStylesheet name="css/style.css" />
    </h:head>

    <h:body>
        <div class="flags">
            <h:form styleClass="form-flags">
                <h:commandLink action="#{languageSwitcher.changeLanguage('en')}" id="en"><h:graphicImage styleClass="flag-icon" name="images/english_icon.png" /></h:commandLink>
                <h:commandLink action="#{languageSwitcher.changeLanguage('de')}" id="de"><h:graphicImage styleClass="flag-icon" name="images/german_icon.png" /></h:commandLink>
                <h:commandLink action="#{languageSwitcher.changeLanguage('cd')}" id="cs"><h:graphicImage styleClass="flag-icon" name="images/czech_icon.png" /></h:commandLink>
            </h:form>
        </div>

        <div id="wrapper">
            <div class="head">
                <h:graphicImage styleClass="flag-icon" name="images/user_head.png" />
            </div>
            <div id="login-bottom">
                <h1>#{msg.login_h2}</h1>
                <h:form styleClass="login-form">
                    <p:inputText id="username"  value="#{user.name}" p:placeholder="#{msg.user_name}" styleClass="username" />
                    <p:tooltip showEvent="focus" hideEvent="blur" for="username"/>  
                    <p:password id="password" value="#{user.password}" p:placeholder="#{msg.password}" styleClass="password"/>  
                    <p:commandButton value="#{msg.login}" action="#{loginResolver.validate}" styleClass="ui-button-main" style="margin-top:5px;"/> 
                </h:form>
                <div class="clr"><hr /></div>
                <h3 style="text-align: center;">#{msg.social_account}</h3>
                <div class="social-icons1">
                    <a class="facebook" href="#{request.contextPath}/Resolver?site=facebook">Facebook</a>
                    <a class="google" href="#{request.contextPath}/Resolver?site=google">Google+</a>
                </div>
                <div class="social-icons2">
                    <a class="twitter" href="#{request.contextPath}/Resolver?site=twitter">Twitter</a>
                    <a class="linkedin" href="#{request.contextPath}/Resolver?site=linkedin">LinkedIn</a>
                </div>

                <div class="forgot">
                    <p> <a href="#{request.contextPath}/resetpassword.xhtml">#{msg.forgotten_password} </a></p>
                    <div class="forgot-register">
                        <p style="color:#878787;">#{msg.no_account} <a href="#{request.contextPath}/signup.xhtml">#{msg.register}</a></p>
                    </div>
                    <div class="clear"> </div>
                </div>

            </div>
        </div>
    </h:body>
</html>

