<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Forgotten password</title>
        <h:outputStylesheet name="css/style.css" />
        <h:outputScript library="js" name="common.js" />
    </h:head>
    <h:body>
        <div class="flags">
            <h:form styleClass="form-flags">
                <h:commandLink action="#{languageSwitcher.changeLanguage('en')}" id="en"><h:graphicImage styleClass="flag-icon" name="images/english_icon.png" /></h:commandLink>
                <h:commandLink action="#{languageSwitcher.changeLanguage('de')}" id="de"><h:graphicImage styleClass="flag-icon" name="images/german_icon.png" /></h:commandLink>
                <h:commandLink action="#{languageSwitcher.changeLanguage('cd')}" id="cs"><h:graphicImage styleClass="flag-icon" name="images/czech_icon.png" /></h:commandLink>
            </h:form>
        </div>
        <div id="wrapper">
            <div class="logo-pwd">
                <h:graphicImage styleClass="flag-icon" name="images/forgot-password.png" />
            </div>
            <div id="login-bottom">
                <h1 style="margin-top: 40px;">#{msg.forgot_password}</h1>
                <h:form styleClass="login-form" id="allform" rendered="true">
                    <p:growl id="messages" showDetail="false" />

                    <p:panelGrid id="form1" rendered="#{!resetPasswordResolver.step}">
                        <p:outputLabel for="user_name" value="#{msg.your_username}"/>
                        <p:inputText id="user_name" required="true" styleClass="username"  value="#{user.name}" placeholder="#{msg.my_username}" requiredMessage="#{msg.required_message}"> 
                            <p:ajax event="blur" update="user_name"/>
                        </p:inputText>
                        <p:message id="msgUserName" for="user_name" display="tooltip" />

                        <p:outputLabel for="email" value="#{msg.your_email}"/>
                        <p:inputText id="email" value="#{user.email}" required="true" styleClass="email" placeholder="#{msg.my_email}" requiredMessage="#{msg.required_message}" validatorMessage="#{msg.valid_email}">
                            <p:ajax event="blur" update="email"/>
                            <f:validator validatorId="custom.emailValidator" />
                        </p:inputText> 
                        <p:message for="email" display="tooltip" />

                        <p:commandButton value="#{msg.verify}" action="#{resetPasswordResolver.verifyIdentity()}" update="allform" styleClass="ui-button-main" style="margin-top:5px;" /> 
                    </p:panelGrid>
                    <p:panelGrid id="form2" rendered="#{resetPasswordResolver.step}">
                        <p:outputLabel for="question" value="#{user.verificationQuestion}" />
                        <p:inputText id="question" value="#{user.verificationAnswer}" required="true" styleClass="verificationAnswer" placeholder="#{msg.enter_answer}" requiredMessage="#{msg.required_message}" validatorMessage="#{msg.valid_email}">
                        </p:inputText> 
                        <p:outputLabel for="psw1" value="#{msg.new_password}"/>
                        <p:password id="psw1" required="true" styleClass="password" value="#{user.password}" placeholder="#{msg.my_password}" requiredMessage="#{msg.required_message}"> 
                            <!-- <p:ajax event="blur" update="psw1"/> -->
                        </p:password>
                        <p:outputLabel for="psw2" value="#{msg.confirm_password}"/>
                        <p:password id="psw2" required="true" styleClass="password" value="#{user.password}" placeholder="#{msg.my_password}" requiredMessage="#{msg.required_message}"> 
                            <!-- <p:ajax event="blur" update="psw2"/>-->
                        </p:password>
                        <p:commandButton value="#{msg.reset_password_btt}" action="#{resetPasswordResolver.resetPassword()}" styleClass="ui-button-main" style="margin-top:5px;"/> 
                    </p:panelGrid>



                </h:form>

                <p:commandButton action="login?faces-redirect=true" value="#{msg.back}" styleClass="ui-button-main" style="float:left;"/>


            </div>

        </div>
    </h:body>
</html>

