<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <h:outputStylesheet name="css/style.css" />
        <h:outputScript library="js" name="common.js" />

    </h:head>

    <h:body>
        <div class="flags">
            <h:form styleClass="form-flags">
                <h:commandLink action="#{languageSwitcher.changeLanguage('en')}" id="en"><h:graphicImage styleClass="flag-icon" name="images/english_icon.png" /></h:commandLink>
                <h:commandLink action="#{languageSwitcher.changeLanguage('de')}" id="de"><h:graphicImage styleClass="flag-icon" name="images/german_icon.png" /></h:commandLink>
                <h:commandLink action="#{languageSwitcher.changeLanguage('cd')}" id="cs"><h:graphicImage styleClass="flag-icon" name="images/czech_icon.png" /></h:commandLink>
            </h:form>
        </div>
        <div id="wrapper">
            <div class="head">
                <h:graphicImage styleClass="flag-icon" name="images/new_user.png" />
            </div>
            <div id="login-bottom">
                <h1>#{msg.sign_up}</h1>
                <p:tooltip />

                <h:form styleClass="login-form" enctype="multipart/form-data">
                    <p:messages autoUpdate="true" id="msg"/>
                    <h:panelGrid id="matchGrid" style="width: 100%">
                        <p:outputLabel for="user_name" value="#{msg.your_username}"/>
                        <p:inputText id="user_name" required="true" styleClass="username"  value="#{user.name}" placeholder="#{msg.my_username}" requiredMessage="#{msg.required_message}"> 
                            <p:ajax event="blur" update="msgUserName "/>
                        </p:inputText>
                        <p:message id="msgUserName" for="user_name" display="icon"  />


                        <p:outputLabel for="email" value="#{msg.your_email}"/>
                        <p:inputText id="email" value="#{user.email}" required="true" styleClass="email" placeholder="#{msg.my_email}" requiredMessage="#{msg.required_message}" validatorMessage="#{msg.valid_email}" label="jmeno">
                            <p:ajax event="blur" update="msgEmail"/>
                            <f:validator validatorId="custom.emailValidator" />
                        </p:inputText> 
                        <!-- <p:messages autoUpdate="true" for="email" />!-->
                        <p:message for="email" display="icon" id="msgEmail"/>

                        <p:outputLabel for="psw1" value="#{msg.your_psw}"/>
                        <p:password id="psw1" value="#{user.password}" match="psw2" placeholder="#{msg.my_password}" required="true" requiredMessage="#{msg.required_message}" styleClass="password" feedback="true" promptLabel="#{msg.enter_password}" weakLabel="#{msg.weak_password}"
                                    goodLabel="#{msg.good_password}" strongLabel="#{msg.strong_password}" />    
                        <p:message for="psw1" display="icon" showDetail="true" />

                        <p:outputLabel for="psw2" value="#{msg.confirm_password}"/>
                        <p:password id="psw2" value="#{user.password}" styleClass="password" placeholder="#{msg.my_password}" required="true" requiredMessage="#{msg.required_message}"/>
                        <!--<p:message for="psw2" display="tooltip" />!-->

                        <p:panelGrid style="display:block;margin-bottom: 15px;">
                            <p:outputLabel for="verification_question" value="#{msg.verification_question}" style="float:left;margin-bottom: 3px;"/>
                            <h:selectOneMenu value="#{user.verificationQuestion}" styleClass="selectOneMenu" id="verification_question" required="true" requiredMessage="#{msg.required_message}">
                                <p:ajax event="change" update="msgAnswer"
                                        listener="#{post.subjectSelectionChanged}" />
                                <f:selectItem itemLabel="#{msg.select_one}" itemValue=""/>
                                <f:selectItems value="#{mainbean.options}" />
                            </h:selectOneMenu>

                        </p:panelGrid>

                        <p:message for="verification_question" display="icon" showDetail="true" id="msgAnswer" />


                        <p:outputLabel for="answer" value="#{msg.your_answer}"/>
                        <p:inputText id="answer" required="true" styleClass="verificationAnswer" value="#{user.verificationAnswer}" placeholder="#{msg.enter_answer}" requiredMessage="#{msg.required_message}"> 
                            <p:ajax event="blur" update="answer"/>
                        </p:inputText>
                        <p:message for="answer" display="icon" showDetail="true" />

                        <p:fileUpload value="#{signupResolver.file}" mode="simple" skinSimple="true" label="#{msg.choose_pic}"/>
                    </h:panelGrid>
                    <p:commandButton value="#{msg.sign_up_btt}" actionListener="#{signupResolver.validate()}" styleClass="ui-button-main" 
                                     update="matchGrid" ajax="false"/>
                </h:form>
                <p:commandButton action="login?faces-redirect=true" value="#{msg.back}" styleClass="ui-button-main" style="float:left;"/>
            </div>

        </div>


    </h:body>
</html>

