<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <h:outputStylesheet name="css/style.css" />
        <h:outputScript library="js" name="common.js" />
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
    </h:head>
    <h:body style="background: white;">

        <p:toolbar>
            <f:facet name="left">
                <div id="welcome-label"><h2><h:outputText value="#{msg.welcome} #{mainbean.userName}!" /></h2></div>
            </f:facet>

            <f:facet name="right">
                <div class="dropdown" onclick="toggleDropDown();">
                    <c:choose>
                        <c:when test="#{mainbean.isRemoteLogged() == true}">
                            <img src="#{mainbean.userProfilePicture}" class="profile-picture"/>
                        </c:when>
                        <c:when test="#{mainbean.isRemoteLogged() == false}">

                            <c:choose>
                                <c:when test="#{mainbean.userProfilePicture.length() > 0}">
                                    <img src="data:image/png;base64,#{mainbean.userProfilePicture}" class="profile-picture"/>
                                </c:when>
                                <c:when test="#{mainbean.userProfilePicture.length() == 0}">
                                    <img src="http://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg" class="profile-picture"/>
                                </c:when>
                            </c:choose>

                        </c:when>
                    </c:choose>
                    <b class="caret"/>

                </div>
                <ul class="main-navigation" id='nav' style="position:absolute;">
                    <li><a href="#">#{msg.home}</a></li>
                    <li><a href="#">#{msg.settings}</a> <ul>
                            <li><a href="#">#{msg.language}</a>
                                <ul>
                                    <h:form>
                                        <li><h:commandLink actionListener="#{languageSwitcher.changeLanguage('en')}" id="en">#{msg.english}</h:commandLink></li>
                                        <li><h:commandLink actionListener="#{languageSwitcher.changeLanguage('de')}" id="de">#{msg.german}</h:commandLink></li>
                                        <li><h:commandLink actionListener="#{languageSwitcher.changeLanguage('cd')}" id="cs">#{msg.czech}</h:commandLink></li>
                                    </h:form>
                                </ul>

                            </li>
                            <li><h:form><p:commandLink value="#{msg.color}" type="button" onclick="PF('pickUpColor').show();" >#{msg.color}</p:commandLink></h:form></li>
                        </ul>
                    </li>
                    <li><h:form><h:commandLink actionListener="#{mainbean.logout()}" >#{msg.logout}</h:commandLink></h:form></li>

                </ul>
            </f:facet>
        </p:toolbar>
        <p:dialog header="#{msg.color_picker}" widgetVar="pickUpColor" minHeight="200">
            <p:colorPicker mode="inline" style="width:100%;height:100%;"/>
        </p:dialog>
        <div id="login-bottom">
            <h:form enctype="multipart/form-data" style="background-color: #c74534;" styleClass="upload-files">
                <h1>#{msg.new_file}</h1>
                <p:fieldset legend="#{msg.choose_file}" style="margin-bottom:20px;margin-top:10px;">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="#{fileUploadBean.uploadStatus}"/>
                        <p:fileUpload value="#{fileUploadBean.file}" mode="simple" skinSimple="true" label="#{msg.choose_file}"  />
                    </h:panelGrid>
                </p:fieldset>

                <p:fieldset legend="#{msg.choose_category}" style="margin-bottom:20px">
                    <h:panelGrid columns="4" cellpadding="5">
                        <h:outputText value="#{msg.choose_panel}."/>
                        <h:panelGrid columns="2" cellpadding="10">
                            <p:selectCheckboxMenu id="category_menu" value="#{fileUploadBean.selectedCategories}" label="#{msg.category_file}"
                                                  filter="true" filterMatchMode="startsWith" panelStyle="width:300px" style="width:200px;">
                                <f:selectItems value="#{mainbean.allCategories}" />
                            </p:selectCheckboxMenu>
                        </h:panelGrid>
                        <p:inputText value="#{mainbean.newCategory}" placeholder="#{msg.new_category_placeholder}" style="min-width: 300px;"/>
                        <p:commandButton value="#{msg.new_category_btt}" update="category_menu" actionListener="#{mainbean.addToNewCategories()}"/>
                    </h:panelGrid>
                </p:fieldset>
                <p:fieldset legend="#{msg.set_duration}" style="margin-bottom:20px">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="days" value="#{msg.upload_duration} " />
                        <p:spinner id="days" value="#{fileUploadBean.uploadDays}" min="5" max="60"/>
                    </h:panelGrid>
                </p:fieldset>
                <p:panel style="float:right"><h:commandButton actionListener="#{fileUploadBean.confirm()}" value="#{msg.upload_file}" styleClass="ui-button-main"/> </p:panel>
            </h:form>

            <p:growl id="messages" showDetail="true" />


            <table width="100%">
                <tr>
                    <td>
                        <p>#{msg.filter_extension}</p>
                        <h:form>
                            <p:selectOneButton value="#{mainbean.selectedExtension}">
                                <f:selectItems value="#{mainbean.extensions}" var="extension" itemLabel="#{extension}" itemValue="#{extension}" />
                                <f:selectItem itemLabel="#{msg.all_files}" itemValue="all" />
                                <!-- <f:ajax render="fileList"/>!-->
                            </p:selectOneButton>
                        </h:form>
                    </td>
                    <td>
                        <p>#{msg.filter_category}</p>
                        <h:form>
                            <p:selectOneButton value="#{mainbean.selectedCategory}">
                                <f:selectItems value="#{mainbean.myCategories}" var="category" itemLabel="#{category}" itemValue="#{category}" />
                                <f:selectItem itemLabel="#{msg.all_files}" itemValue="all" />
                                <!--  <f:ajax render="fileList"/>!-->
                            </p:selectOneButton>
                        </h:form>
                    </td>
                </tr>
            </table>



            <h:panelGrid styleClass="no-items" rendered="#{empty mainbean.myBrief}">
                <h:graphicImage value="/resources/images/no-items.png"  styleClass="no-items"/>
                <h1>#{msg.no_files}</h1>
            </h:panelGrid>

            <h:panelGroup  rendered="#{not empty mainbean.myBrief}">
                <p:dataTable id="fileList" var="fileRecord" value="#{mainbean.myBrief}" style="text-align: center;">
                    <p:column headerText="#{msg.name_file}" sortBy="#{mainbean.filename}">
                        <h:outputText value="#{fileRecord.filename}" />
                    </p:column>

                    <p:column headerText="#{msg.category_file}">
                        <ui:repeat var="categoryString" value="#{fileRecord.categories}">
                            <span><h:outputText value="#{categoryString}" />, </span>
                            <!--doplnit podminku !-->
                        </ui:repeat>
                    </p:column>

                    <p:column headerText="#{msg.dateOfCreated_file}" sortBy="#{fileRecord.created_date}">
                        <h:outputText value="#{fileRecord.created_date}">
                            <f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>  
                        </h:outputText>

                    </p:column>

                    <p:column headerText="#{msg.dateOfExpiration_file}">
                        <h:outputText value="#{fileRecord.expiration_date}">
                            <f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime> 
                        </h:outputText>
                    </p:column>
                    <p:column headerText="#{msg.type_file}">
                        <h:outputText value="#{fileRecord.extension}" />
                    </p:column>

                    <p:column headerText="#{msg.size_file}">
                        <h:outputText value="#{fileRecord.size} MB" />
                    </p:column>

                    <p:column headerText="#{msg.link_file}">
                        <h:form style="text-align: center;">
                            <h:commandLink action="#{mainbean.downloadFile(fileRecord.file_url, fileRecord.filename)}">
                                <h:graphicImage name="images/download.png" style="width:30px;height:30px;" />
                            </h:commandLink>
                        </h:form>
                    </p:column>

                    <p:column headerText="#{msg.delete}">
                        <h:form style="text-align: center;">
                            <h:commandLink action="#{mainbean.callFileDelete(fileRecord.id,fileRecord.file_url)}" type="Delete" onclick="return confirm('#{msg.delete_dialog}')">
                                <h:graphicImage name="images/delete.png" style="width:30px;height:30px;" />
                            </h:commandLink>
                        </h:form>
                    </p:column>

                    <f:facet name="footer">

                    </f:facet>
                </p:dataTable>
            </h:panelGroup>


        </div>
    </h:body>
</html>
